.itemCart{
    overflow: hidden;
    background-color: #e6e6e6 !important;
    /* padding-left: 5%; */
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartImg{
    height: 200px;
}
.CartDate{
    justify-content: space-between;
    color: darkgray;
}
.cartPrice{
    font-size: 50px;
    font-weight: bold;
}
.allCourseBtn{
    border-radius: 25px;
}