.header{
    padding-top: 10px;
    justify-content: space-between;
}
.logo{
    align-items: flex-start;
}
.logo img{
    width: 120px;
    height: 80px;
}
.logo:hover{
    color: blue;
    font-weight: bold;
}

.item{
    margin-left: 20px;
    font-size: 22px;
    font-weight: 500;
    padding: 5px;
    text-decoration: none;
}
.item:hover{
    color: rgb(248, 152, 43);
}