.contactUs{
    background-image: url(../../rm373batch13-085.jpg);
    height: 850px;
    width: 100%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.contact{
    color: white;
}
.contactTitle{
    font-size: 50px;
    font-weight: 800;
}
.input{
    padding: 0 20%;
}