.title3{
    color: darkblue;
    font-size: 40px;
    font-weight: 600;

}
.title3:hover {
    color: rgb(255, 123, 0);
}
.courseCart{
    background-color: #e6e6e6 !important;
   }
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.cartImg{
       height: 200px;
   }
.CartDate{
       justify-content: space-between;
       color: darkgray;
   }
.cartPrice{
       font-size: 50px;
   }